* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:whitesmoke;
    line-height: 1.5;
    color: rgb(119, 87, 22);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main{
    margin: 50px 80px 40px ;
    /* max-width: 00px; */
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 5px 5px 10px 5px wheat;
    text-align: center;
}

#main #title {
    font-size: 60px;
    margin: 20px 20px 40px;
    background-color: wheat;
    border-radius: 5px 5px 0px 0px;
    padding: 20px 5px;
    text-transform: uppercase;
}

#main #img-div{
    margin-bottom: 30px;
}
#main #img-div #image {
    display: block;
    max-width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
}

#main #img-div #img-caption {
    font-size: 20px;
    font-style: italic;
}

#main #tribute-info {
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
}

#main .tribute-tagline {
    text-align: left;
    margin: auto;
    max-width: 60%;
    font-size: 20px;
    
}